NEXT_PUBLIC_SUPABASE_URL=https://rdyzflhpclnwifzkwpuj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_GDvK0v5KMRcGI54B_516Yg_mei6MxRt
NEXT_PUBLIC_APP_URL=http://localhost:3000
# Database connection for automated migrations (replace [YOUR-PASSWORD] with your actual DB password)
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.rdyzflhpclnwifzkwpuj.supabase.co:5432/postgres
